[ng-click] {
  cursor: pointer;
}

* {
  font-family: Montserrat;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  font-family: 'Open sans';
  max-width: 600px;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;
}

html {
  height: 100%;
  width: 100%;

  body {
    background: black url(../images/bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    .site {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .7);

      .logo {
        width: 50%;
        max-width: 400px;
        margin: 0 auto;
        position: relative;
        padding: 40px 0;

        a {
          display: block;
          position: relative;
          text-align: center;

          img {
            width: 100%;
            max-height: 220px;
            border: 0;
          }
        }
      }

      navigation {
        text-align: center;
        display: block;
        z-index: 10;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: block;

          li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;

            &:after {
              content: '●';
              padding: 0 10px 0 13px;
              font-size: 80%;
              color: white;

            }

            &:last-child {
              &:after {
                content: '';
              }
            }

            a {
              text-transform: uppercase;
              color: white;
              font-family: Montserrat;
              text-decoration: none;

              &:hover {
                opacity: .8;
                text-decoration: underline;
              }
            }
          }
        }
      }

      > .content {
        max-width: 600px;
        margin: 40px auto;
        color: white;
        font-size: 90%;
        line-height: 110%;

        a {
          color: white;
          text-decoration: underline;
          text-transform: uppercase;
        }
      }

    }

    footer {
      position: fixed;
      bottom: 0px;
      left: 50%;
      margin-left: -300px;
      width: 600px;
      text-align: center;
      color: white;
      font-size: 75%;
      opacity: .5;
      background: rgba(0, 0, 0, .8);
      z-index: 100;
    }
  }
}

/// Directives
.thumb-tile {
  width: 20%;
  padding-top: 20%;
  position: relative;
  display: inline-block;
  overflow: hidden;

  .image {
    transition: opacity, .3s;
    position: absolute;
    left: 5px;
    right: 0;
    top: 5px;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: .5;
  }

  .content {
    position: absolute;
    left: 5px;
    right: 0;
    top: 5px;
    bottom: 0;
    padding: 10px;
    z-index: 3;

    h3 {
      margin: 0 0 15px 0;
      text-transform: uppercase;
      word-break: break-word;
      font-size: 110%;
    }
  }

  &:hover {
    .image {
      opacity: .8;
    }
  }

  &.list-view {
    width: auto;
    padding: 0;
    line-height: 1em;
    font-size: 65%;

    .image {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      opacity: 1;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .content {
      position: static;
      vertical-align: middle;
      display: inline-block;
      margin-right: 20px;
      line-height: 1em;
      padding: 8px 10px 8px 27px;

      h3 {
        margin: 0;
      }
    }
  }
}

.content.artist {

  .other-artists {
    .list-view {
      display: block;
    }
  }

  .artist-content {

    .image {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      margin: 20px auto;
      background-size: cover;
      background-position: center center;
    }

    h2 {
      font-size: 200%;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.content.productions {
  .thumb-tile {
    font-size: 75%;

    > .content {
      h3 {
        line-height: 1.4em;
      }
    }
  }
}

.content.production {
  .other-productions {
    .list-view {
      display: block;
    }
  }
}